/* client/src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: block; 
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc; /* Trùng với màu nền trong App.css */
}

#root {
  width: 100%;
  margin: 0 auto;
}